* {
  padding: 0%;
  margin: 0%;
}

:root {
  --main-primary: lightgrey;
  --main-accent: #336a7e;
}

body {
  background-color: #333;
}

#banner {
  background-color: var(--main-accent);
  border: 1px solid var(--main-primary);
  padding: 0.2rem 1rem;
}
header {
  font-variant-caps: all-small-caps;
  font-size: 28px;
  text-align: center;
  color: var(--main-primary);
  text-shadow: 2px 2px darkslategray;
}

 #banner>nav {
  padding-bottom: 0.25em;
 }

nav>ul>li {
  font-variant-caps: small-caps;
  display: inline;
  list-style-type: none;
  text-decoration: none;
  color: var(--main-primary);
  padding: 1rem;
  text-shadow: 2px 2px darkslategray;
}

nav>ul {
  padding: 0.5rem 0 0.2rem 0;
  text-align: center;
}
nav>ul>li>a, a:visited {
  color: var(--main-primary);
  text-decoration: none;
}
nav>ul>li>a:hover {
  text-decoration: none;
  font-size: 115%;
}
section>article {
  display: inline-flex;
  align-content: flex-start;
  margin: 2rem 4rem 2rem 4rem;
  color: var(--main-primary);
  /* text-align: center; */
}

section>article>img {
border: 1px solid var(--main-primary);
display: inline-flex;
align-content: flex-end;
}

section>img {
  /* opacity: 75%; */
  align-items: center;
  display: block;
  margin: auto;
  border:1px solid var(--main-primary);
}

footer {
  text-align: right;
  color: var(--main-primary);
  background-color: var(--main-accent);
  border: 1px solid var(--main-primary);
  padding-top: 2rem;
  
}